<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Virtual Classroom {% endblock title %}</title>
    <!-- css -->
    {% include 'partials/_styles.html' %}

</head>

<body>
    <!-- navigation -->
    {% include 'partials/_navbar.html' %}

    <!-- main content -->
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    
    <!-- footer -->
    {% include 'partials/_footer.html' %}